.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.form {
  display: flex;
  gap: 2rem;
}

.fields{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.fieldBox{
  display: flex;
  flex-direction:column;
}
.fields input,
.fields textarea,
.fields select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  resize: none;
}


.fields textarea {
  width: 100%;
}

.fields button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productBox {
  width: 300px;
  height: 300px;
  position: relative;
}
.uploadedImage{
  width: 250px;
  height: 250px;
  position: relative;
  background-color: var(--white);
}

.notFoundImage {
  width: 250px;
  height: 250px;
  background-image: url("/noproduct2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.productBox input {
  width: 100%;
}

.grid1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 1rem;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;

}
.tooltipBox {
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toolTipLabel{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.hintMark {
  font-size: .2rem;
}

.fetchedImageBox{
  width: 250px;
  height: 250px;
  position: relative;
}

.imageUploadContainer {
  display: flex;
}

.imageUploadContainer > label {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  background-color: teal;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin-top: 2rem;

}
.fetchProductForm {
  display: flex;
  width: 50%;
  gap: 5px;
}

.eanCode{
  display: flex;
  align-items: center;
  gap: 15px;
}

.eanCode input {
  padding: 1rem .5rem;
  height: 18px;
}

.fetchProductForm > button {
  background-color: teal;
  color: #fff;
  border-radius: 8px;
  padding: 1rem .5rem;

}
