AUTH_URL=http://localhost:3000/api/auth
AUTH_SECRET=testsecret
JWT_SECRET=secretjwt
#BASE_URL=https://api-correct-vercel.vercel.app
BASE_URL=http://localhost:3333


ECOMMERCE_API_BASE_URL=http://localhost:3334
